.get-section {
  padding-block-start: 140px;
  margin-inline: 16px;
}

.users-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
  min-block-size: 1624px;
}

.user-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  text-align: center;
  inline-size: 100%;
  animation: enter 0.5s normal ease-in;
}

.user-card img {
  border-radius: 50%;
}

.user-card :is(div, p) {
  width: 100%;
}

.user-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 26px;
}

.get-section button {
  inline-size: 120px;
}

@media screen and (min-width: 768px) {
  .get-section {
    margin-inline: 32px;
  }
  .users-container {
    display: grid;
    min-block-size: 794px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .get-section {
    margin-inline: 60px;
  }
  .users-container {
    min-block-size: 537px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 29px;
  }
}

@media screen and (min-width: 1290px) {
  .get-section {
    margin-inline: calc((100% - 1170px) / 2);
  }
}
