/* Resetting defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adding a fontface */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400, 500;
  font-display: swap;
  src: url("assets/fonts/Nunito-VariableFont_wght.ttf") format("woff2");
  unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

/* Project-wide variables and general styles */

:root {
  --primary-yellow: #f4e041;
  --primary-yellow-hover: #ffe302;
  --secondary-blue: #00bdd3;
  --disabled-gray: #b4b4b4;
  --background-gray: #f8f8f8;
  --error-red: #cb3d40;

  font-family: "Nunito", sans-serif;
  background-color: var(--background-gray);
}

main {
  display: flex;
  flex-flow: column;
  gap: 140px;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 50px;
  margin-inline: auto;
}

h1,
h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

button {
  all: unset;
  inline-size: 100px;
  block-size: 34px;
  text-align: center;
  background-color: var(--primary-yellow);
  border-radius: 80px;
  line-height: 26px;
}

button:hover {
  background-color: var(--primary-yellow-hover);
}

button:disabled {
  background-color: var(--disabled-gray);
  color: #ffffffde;
}

/* Removing the blue background preset for inputs on autofill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--background-gray) inset !important;
}

/* Preloader styles and animation */

.preloader {
  height: 48px;
  width: 48px;
  color: #00bdd3;
  border: 5px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
}

.preloader.starter {
  margin-inline: auto;
  margin-block: calc(50vh - 24px);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
